header {
    background: darkblue;
    width: 100%;
    height: 150px;
    position: relative;
}
.center {
    float: left;
    font-size: 80pt;
    color: #9095ff;
    margin-left: 35%;
}
.right img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 0 3px;
    float: right;
    box-shadow: 2px 4px 6px 0 rgba(340,340,340,.5);
    border-radius: 3px;
}


.center-backgound {
    background: #1e2463;
    height: 1000px;
    width: 95%;
    margin-top: 1px;
    margin-left: 30px;

}